.text-center {
	text-align: center;
}

.map {
	width:400px; /* you can use % */
    height: auto;
}

.bg-color {
	background-color: #fffff2;
}
.col-auto {
	width: auto!important;
}

.justify-center {
	justify-content: center;
}

.p-1 {
	padding: 10px 10px 10px 10px!important;
}

.p-2 {
	padding: 20px 20px 20px 20px!important;
}

.pl-1 {
	padding-left: 10px!important;
}

.font-map-blue {
	color: #96c4df;
}

.font-map-red {
	color: #dfb196;
}

a {
	color: #dfb196;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="column-"] {
    width: 100%!important;
    max-width: 100%!important;
  }
}